.hero_img {
  position: relative;
}
.hero_img::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(
    to bottom,
    rgba(34, 12, 12, 0),
    rgb(82, 78, 78)
  );
}
